<ul id="myTab1" class="nav nav-tabs bordered">
    <li class="active">
        <a href="#s1" data-toggle="tab" class="responsetext"><i class="fa fa-fw fa-lg fa-arrow-circle-right"></i> Əməliyyatlar</a>
    </li>
</ul>
<div id="myTabContent1" class="tab-content padding-10">
    <div class="tab-pane fade in active" id="s1">
        <form id="operationForm" method="post">
            <fieldset>
                <div class="row col-md-12">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="company">Əməkdaşı seç</label>
                            @Html.DropDownList("userID", Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="company">Əməliyyatı seç</label>
                            @Html.DropDownList("operationID", Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                            @Html.Hidden("docID", "", new { @class = "form-control" })
                            @Html.Hidden("fromDoID", "", new { @class = "form-control", Value = @Model.DoID })
                            @Html.Hidden("docContentType", "", new { @class = "form-control", Value = @Model.DocTypeID })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="company">Sənədin tarixi</label>
                            <div class="input-group">
                                <span class="form-control" id="docRegDatespan">@Model.FinishDate</span>
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="company">Sənədin icra müddəti</label>
                            @Html.TextBox("docDayCount", "", new { @class = "form-control", disabled = "" })
                            <p class="note">(iş günü)</p>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="company">Sənədin icrasının bitmə tarixi</label>
                            @Html.Hidden("docFinishDate", "", new { @class = "form-control" })
                            <div class="input-group">
                                <span class="form-control" id="docFinishDatespan"></span>
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                            <br />
                            @Html.CheckBox("nezaretle")
                            <i></i>Nəzarətlə
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="company">Şablon mətnlər</label>
                            @Html.DropDownList("templateText", new SelectList(ViewBag.TemplateText, "id", "title"), "Seçin", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.TextArea("doNote", new { @class = "form-control", rows = 5 })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <a href="#" class="btn btn-sm btn-primary pull-right" id="btnAddNewOperation"> <i class="fa fa-arrow-circle-down"></i> Əməliyyatlar cədvəlinə əlavə et</a>
                        </div>
                    </div>
                    <hr class="simple" />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table" id="opTable" width="100%">
                                <thead>
                                    <tr>
                                        <th>Əməkdaşın Adı Soyadı</th>
                                        <th>Əməliyyatın adı</th>
                                        <th>Əlavə qeydlər</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </fieldset>
        </form>
        <footer>
            <div class="form-actions">
                <button class="btn btn-danger btn-md" id="btnDerkenarVer">
                    Əməliyyatlar icra olunsun
                </button>
                @*<button class="btn btn-info btn-md" id="btnAddNewOperation">
                        Cədvələ əlavə et
                    </button>*@
                <button class="btn btn-default btn-md" data-dismiss="modal">
                    Ləğv et
                </button>
            </div>
        </footer>
    </div>
</div>
<script>
    $(function () {
        $("#docFinishDate").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
    $('#docDayCount').keyup(function () {
        if (($('#docDayCount').val().length > 0) || $('#docDayCount').val() == "") {
            $("#docFinishDate").val("");
            $("#docFinishDatespan").text("");
        }
        $.ajax({
            type: 'GET',
            url: "/Document/CalculateEndDate",
            datatype: JSON,
            data: { 'date': $.trim($("#docRegDatespan").text()), 'daycount': $("#docDayCount").val() },
            success: function (data) {
                $("#docFinishDate").val(data.enddate);
                $("#docFinishDatespan").text(data.enddate);
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#nezaretle').change(function(){
            $("#docDayCount").prop("disabled", !$(this).is(':checked'));
        });
    });
    var operationsTable = function (id) {
        $("#opTable").DataTable({
            destroy: true,
            autoWidth:false,
            searching: false,
            ordering: false,
            paging: false,
            "ajax": {
                "url": "/Response/GetAssignedOperations?id=" + id+"&doid="+@Model.DoID,
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "NameSurname", "width": "20%" },
                { "data": "conTypeTitle", "width": "20%" },
                { "data": "doNote"},
                {
                    "data": "doID", "width": "5%", "render": function (data) {
                        return '<a href="#" id="' + data + '" class="delete"><i class="fa fa-trash-o"></i></a>';
                    }
                }
            ]
        });
    };
    $(document).ready(function () {
        $("#docID").val(@Model.DocID);
        $("#operationID").empty();
        $.get("/Document/FillOperationDDL", { id: @Model.DocTypeID, doid:@Model.DoID@*, docid:@Model.DocID*@  }, function (data) {
            $.each(data, function (index, row) {
                $("#operationID").append("<option value='" + row.id + "'>" + row.title + "</option>");
            });
        });

        $("#userID").empty();
        $.get("/Document/FillUserDDL", function (data) {
            $.each(data, function (index, row) {
                $("#userID").append("<option value='" + row.usrID + "'>" + row.empName + " " + row.empSurname + "</option>");
            });
        });


        operationsTable($("#docID").val());
        $('#doNote').summernote({
            placeholder: 'Əlavə qeydlər',
            tabsize: 2,
            height: 100
        });
    });

    $("#btnAddNewOperation").click(function () {
        var data = $("#operationForm").serialize();
        $.ajax({
            type: "POST",
            url: "/General/AddOperation",
            data: data,
            success: function (response) {
                $("#myModal").modal('hide');
                operationsTable($("#docID").val());
                $("#operationID").html("");
                    $.get("/Document/FillOperationDDL", { id: @Model.DocTypeID, doid:@Model.DoID@*, docid:@Model.DocID*@  }, function (data) {
                        $.each(data, function (index, row) {
                            $("#operationID").append("<option value='" + row.id + "'>" + row.title + "</option>");
                    });
                });
            }
        });


    });

    $("#btnDerkenarVer").click(function () {
        $.ajax({
            type: "POST",
            url: "/General/DerkenarVer",
            data: { doid: @Model.DoID, opercode: "gnl_duv", docid:@Model.DocID, docfinishdate: $("#docFinishDate").val() },
            success: function (response) {
                window.location.href = response;
                //$("#myModal").modal('hide');
                //operationsTable($("#docID").val());
            }
        });
    });

    $('#opTable tbody').on('click', 'tr a.delete', function () {

        $.ajax({
            type: "POST",
            url: "/Response/Delete",
            data: { doid: $(this).attr('id') },
            success: function (success) {
                operationsTable($("#docID").val());
                 $("#operationID").html("");
                    $.get("/Document/FillOperationDDL", { id: @Model.DocTypeID, doid:@Model.DoID@*, docid:@Model.DocID*@  }, function (data) {
                        $.each(data, function (index, row) {
                            $("#operationID").append("<option value='" + row.id + "'>" + row.title + "</option>");
                    });
                });
            }
        });
    });

    $("#templateText").change(function () {
        var text = $("#templateText option:selected").text();
        $('#doNote').summernote('destroy');
        $('#doNote').summernote({
            tabsize: 2,
            height: 100
        })
        $('#doNote').summernote("code", text);
    })
</script>