@model IEnumerable<IDM.DTO.Report.rpt_strukturuzre_DTO>
<div class="table-responsive">
    <table id="dt_basic" class="table table-bordered table-striped table-condensed table-hover smart-form">
        <thead>
            <tr>
                <th>No</th>
                <th>Sənəd nömrəsi</th>
                <th>Qeydiyyat tarixi</th>
                <th>Sənədin məzmunu</th>
                <th>Qeydiyyata alan şəxsin istifadəçi adı</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
            }
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@item.docRegNo</td>
                    <td>@item.docRegDate</td>
                    <td>@Html.Raw(item.docContent)</td>
                    <td>@item.DocCreatedBy</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $("#dt_basic").DataTable();
</script>