@if (ViewBag.DocumentAbout != null)
{
    <ul class="list-group">
        <li class="col-md-3 list-group-item">
            <span>Sənədin nömrəsi: @ViewBag.DocumentAbout.docRegNo</span>
        </li>
        <li class="col-md-3 list-group-item"><span>Sənədin tarixi: @ViewBag.DocumentAbout.docRegDate</span></li>
        <li class="col-md-3 list-group-item"><span>Sənədin məzmunu: @ViewBag.DocumentAbout.docContent</span></li>
        <li class="col-md-3 list-group-item">
            <a href="#" onclick="loadRegDoc('@Enum.GetName(typeof(IDM.Service.Enums.ContentTypes), ViewBag.DocumentAbout.docContentType)', @ViewBag.DocumentAbout.docID)">Ətraflı bax</a>
        </li>
    </ul>
}

